<nav class="navigation-bar">
  <div class="navigation">
    <ul class="menu-horizontal site-navigation">
      <li class="action"
          ng-class="{active: $state.current.name == 'posts'}">
        <a ui-sref="posts">All Posts</a></li>
      <li class="action"
          ng-class="{active: $state.current.name == 'photos'}">
        <a ui-sref="photos">Photos</a></li>
      <li class="action"
          ng-class="{active: $state.current.name == 'videos'}">
        <a ui-sref="videos">Videos</a></li>
    </ul>
    <ul class="menu-horizontal layout-state-options">
      <li class="action"
          ng-class="{active: $stateParams.itemLayout == 'list'}">
        <a class="fa fa-th-list"></a></li>
      <li class="action"
          ng-class="{active: $stateParams.itemLayout == 'grid'}">
        <a class="fa fa-th-large"></a></li>
    </ul>
  </div>
</nav>
