<nav class="navigation-bar">
  <div class="navigation">
    <ul class="menu-horizontal site-navigation">
      <li ng-class="{active: $state.current.name == 'posts.index'}">
        <a ui-sref="posts.index">All Posts</a></li>
      <li ng-class="{active: $state.current.name == 'photos.index'}">
        <a ui-sref="photos.index">Photos</a></li>
      <li ng-class="{active: $state.current.name == 'videos.index'}">
        <a ui-sref="videos.index">Videos</a></li>
    </ul>
    <ul class="menu-horizontal layout-state-options">
      <li ng-class="{active: $stateParams.itemLayout == 'list'}">
        <a class="fa fa-th-list"></a></li>
      <li ng-class="{active: $stateParams.itemLayout == 'grid'}">
        <a class="fa fa-th-large"></a></li>
    </ul>
  </div>
</nav>
