$navigationFontColor: $headerFontColor;
$layoutStateDeactivatedFontColor: $deactivatedFontColor;

.navigation-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  .navigation {
    .menu-horizontal {
      display: inline-block;
      &.site-navigation {
        float: left;
        .action {
          cursor: pointer;
          margin-right: 45px;
          &:last-child {
            margin-right: 0;
          }
          &.active {
            border-bottom: 3px solid $primaryTrim;
            font-weight: 700;
          }
          a {
            display: inline-block;
            padding: 15px 7px;
          }
        }
      }
      &.layout-state-options {
        float: right;
        .action {
          cursor: pointer;
          margin-right: 0;
          color: $layoutStateDeactivatedFontColor;
          &.active {
            font-weight: 700;
            color: $navigationFontColor;
          }
          a {
            display: inline-block;
            padding: 15px 7px;
          }
        }
      }
    }
    width: 578px;
    margin: 0 auto;
    color: $navigationFontColor;
    font-size: 14px;
    text-transform: uppercase;

  }
}
