
.navigation-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  .navigation {
    .menu-horizontal {
      display: inline-block;
      &.site-navigation {
        float: left;
        li {
          cursor: pointer;
          margin-right: 40px;
          border-bottom: 4px solid transparent;
          font-weight: 700;
          color: $navigationInactiveTabFontColor;
          &:last-child {
            margin-right: 0;
          }
          &.active {
            color: $navigationFontColor;
            border-bottom: 4px solid $primaryBrandColor;
          }
          a {
            display: inline-block;
            padding: 15px 7px;
          }
        }
      }
      &.layout-state-options {
        float: right;
        li {
          cursor: pointer;
          margin-right: 0;
          font-weight: 700;
          color: $navigationInactiveTabFontColor;
          &.active {
            color: $navigationFontColor;
          }
          a {
            display: inline-block;
            padding: 15px 7px;
          }
        }
      }
    }
    width: 578px;
    margin: 0 auto;
    color: $navigationFontColor;
    font-size: 14px;
    text-transform: uppercase;
  }
}
