.user-avatar {
  border-radius: $borderRadius;
  height: 40px;
  width: 40px;
  display: inline-block;
  overflow: hidden;
  img {
    width: 100%;
  }
  &.large {
    height: 85px;
    width: 85px;
  }
  &.small {
    height: 30px;
    width: 30px;
  }
}
