$fontStack: Montserrat, sans-serif;
$primaryTrim: darkcyan;
$primaryBackgroundColor: #fff;
$primaryFontColor: #262728;
$headerBackgroundColor: $primaryFontColor;
$headerFontColor: $primaryBackgroundColor;

html, body {
  height: 100%;
}

body {
  font-family: $fontStack;
  color: $primaryFontColor;
  & > header {
    position: relative;
    z-index: 20;
    background-color: $headerBackgroundColor;
    color: $primaryBackgroundColor;
    height: 60px;
    width: 100%;
  }
  & > main {
    position: relative;
    z-index: 10;
    header {
      background-image: url(/img/background-slice.jpg);
      background-position: top left;
      background-repeat: repeat-x;
      height: 432px;
      width: 100%;
      position: relative;
      > div {
        display:block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url(/img/background.jpg);
        background-position: center top;
        background-repeat: no-repeat;
      }
    }
  }
}


.menu {
  display: inline-block;

  list-style: none;
  & > li {
    display: inline-block;

  }
}
