$fontStack: Work Sans, sans-serif;
$primaryBrandColor: rgb(0, 204, 153);
$primaryBackgroundColor: #fff;
$primaryFontColor: #7a7e89;
$primaryBorderColor: #dee2e5;
$secondaryFontColor: #c8cbd2;
$headerBackgroundColor: #262729;
$headerFontColor: $primaryBackgroundColor;
$navigationFontColor: $headerFontColor;
$navigationInactiveTabFontColor: darken($navigationFontColor, 25%);
$borderRadius: 4px;
$footerFontColor: #02b385;
